In [4]:
from pandas import read_csv, crosstab
from scipy.stats import chi2_contingency
import pandas as pd

In [ ]:
# read the CSV data
df =                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          read_csv('airline_passenger_satisfaction.csv')

print(df.head(1))

   ID  Gender  Age Customer Type Type of Travel     Class  Flight Distance  \
0   1    Male   48    First-time       Business  Business              821
1   2  Female   35     Returning       Business  Business              821
2   3    Male   41     Returning       Business  Business              853
3   4    Male   50     Returning       Business  Business             1905
4   5  Female   49     Returning       Business  Business             3470

   Departure Delay  Arrival Delay  Departure and Arrival Time Convenience  \
0                2            5.0                                       3
1               26           39.0                                       2
2                0            0.0                                       4
3                0            0.0                                       2
4                0            1.0                                       3

   ...  On-board Service  Seat Comfort  Leg Room Service  Cleanliness  \
0  ...                 3             5                 2            5
1  ...                 5             4                 5            5
2  ...                 3             5                 3            5
3  ...                 5             5                 5            4
4  ...                 3             4                 4            5

   Food and Drink  In-flight Service  In-flight Wifi Service  \
0               5                  5                       3
1               3                  5                       2
2               5                  3                       4
3               4                  5                       2
4               4                  3                       3

   In-flight Entertainment  Baggage Handling             Satisfaction
0                        5                 5  Neutral or Dissatisfied
1                        5                 5                Satisfied
2                        3                 3                Satisfied
3                        5                 5                Satisfied
4                        3                 3                Satisfied

[5 rows x 24 columns]

In [6]:
# male_df = df[df['Gender'] == 'Male']  #Filter by gender

# category1 = 'Class'

# category2 = 'On-board Service'

# # Create a contingency table for the two categories
# crosstab = crosstab(male_df[category1] , male_df[category2])

# chi2 , pval, degree_of_freedom, expected_counts = chi2_contingency(crosstab)

# print(f"\n Category 1: {category1}, Category 2: {category2} (Male Passengers)")
# print(crosstab)
# print(f"Chi-square :{chi2: .2f}, p_value :{pval: .4f}, Degree of freedom :{degree_of_freedom}")

# if pval < 0.05:
#     print("Reject Null Hypothesis: There is a significant association between Class and On-board Service")
# else:
#     print("Fail to Reject Null Hypothesis: There is no significant association between Class and On-board Service")

In [7]:
df = read_csv('airline_passenger_satisfaction.csv')

female_df = df[df['Gender'] == 'Female']  #Filter by gender

category1 = 'Class'
category2 = 'On-board Service'

# Create a contingency table for the two categories
crosstab = crosstab(female_df[category1] , female_df[category2])

chi2 , pval, degree_of_freedom, expected_counts = chi2_contingency(crosstab)

print(f"\n Category 1: {category1}, Category 2: {category2} (Female Passengers)")
print(crosstab)
print(f"Chi-square :{chi2: .2f}, p_value :{pval: .4f}, Degree of freedom :{degree_of_freedom}")

if pval < 0.05:
    print("Reject Null Hypothesis: There is a significant association between Class and On-board Service")
else:
    print("Fail to Reject Null Hypothesis: There is no significant association between Class and On-board Service")

 Category 1: Class, Category 2: On-board Service (Female Passengers)
On-board Service  0     1     2     3      4     5
Class
Business          3  2065  3425  5926  10738  9106
Economy           0  4659  5366  7103   7387  5155
Economy Plus      0   799   959  1166   1224   818
Chi-square : 3510.80, p_value : 0.0000, Degree of freedom :10
Reject Null Hypothesis: There is a significant association between Class and On-board Service